@import url(http://fonts.googleapis.com/css?family=Oswald);

*{
  margin: 0px;
  padding: 0px;
}


body {
  background-color: white;
  margin: 0px !important;
  padding: 0px !important;
  
}
nav{
  margin:10px;
}
ul li, a, button{
  
  text-decoration: none;
  display: inline;
  color:olive;
  
}
a:vertical{
  color:wheat;
}
a:focus{
  color:aliceblue;
}
a:hover{
  color:black;
}
header button{
  padding:10px;
  border-radius: 8px;
  background-color: olive;
  color:wheat;
  
  
}
input[type='submit']{
  padding:15px;
  border-radius: 13px;
  margin-top: 10px;
  background-color: olive;
  color:wheat;

}
 button{
  list-style-type: none;
  text-decoration: none;
  position: absolute;
  left:70%;
  bottom: 65%;
}

header  {

  background-color: rgb(42, 97, 99);
  opacity: 0.5;
  height: 200px;
  padding: 30px;
  color: aliceblue;
  font-size: 26px;
  font-family: 'Oswald', 'Futura', sans-serif; 
  white-space: nowrap;
  overflow: hidden;
  margin: 10px;
}
 
div {
  text-align: center;
}
i{
  color:rgb(42, 97, 99);
  opacity: 0.5;
  padding-bottom: 20px;
}
.link{
  display: grid;
  grid-template-columns:auto auto;
  width: 200px;
  margin-bottom: 30px;
  margin-left: 30px;
}

h3{
  text-align: center;
  margin:  3em 3em;
  font-family: 'Oswald', 'Futura', sans-serif;
  color:olive;
  opacity: 0.5;
}

main{
  display: grid;
  grid-template-columns: repeat(3, auto);
  margin-bottom: 50px;
  margin-left: 10px;
  margin-right: 10px;
  grid-gap: 1em;

}
input{
  margin-bottom: 10px;
}
#Form{
  text-align: center;
  visibility: hidden;
 

}
article{
  padding-bottom:20px;
  box-shadow: -1px -1px 6px #888888;
  font-family:News Cycle; 
  line-height: 2.5em;
}
footer{
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 30px;
}
small{
  justify-self: center;
}

@media only screen and (max-width: 500px){
  .link,main{
    grid-template-columns:auto;
    grid-template-rows:auto;
  }
  p{
    font-size:100%; 
  }
  button{
    position: absolute;
  }
  header{
    margin: 0%;
    padding: 0%;
  }
}